<% unless logged_in?(:site_admin) || @latest_post.nil? %>
	<%= render 'latest_post' %>
<% end %>

<div class="col-md-8 blog-main">
  <%= paginate @blogs %>
  
  <%= render @blogs %>
  
  <nav class="blog-pagination">
  	 <%= paginate @blogs %>
  </nav>
</div>
