<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to 'View All', portfolios_path %> | 
      <a href="#">Back to top</a>
    </p>
    <p>
    	
    	<%= copyright_generator_helper %>
    </p>
  </div>
</footer>