<h1> Would you like to work together?</h1>
<hr>

<div class="row">
	<div class="col-md-4">

		<h3> Office Address - KE </h3>
			<p> C4, Jalde Heights, Ruaka </p>
			<p> <%= number_to_phone(723526492, country_code: 254, pattern: /(\d{3})(\d{3})(\d{3})$/) %> </p>
			<h3> Email </h3>
			<p> <a href="mailto:hello@mradi.co.ke?subject=New+Kenyan+Lead+from+Portfolio+Site" "Jambo Kenya"> hello@mradi.co.ke </a> </p>

	</div>

	<div class="col-md-8">
		<% cache do %>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9348815396474!2d36.78217885044461!3d-1.2057501358796725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3db2078a3957%3A0xcc56121102885bea!2sJalde+Heights+Apartments!5e0!3m2!1sen!2ske!4v1544117211273" width="500" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
		<% end %>
	</div>
</div>


<div class="row">
	<div class="col-md-8">
		<% cache do %>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3291.0650458295295!2d150.89289145100915!3d-34.42510285548094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b1319a607726091%3A0x6074335d5413cc7e!2sChurch+St%2C+Wollongong+NSW+2500%2C+Australia!5e0!3m2!1sen!2ske!4v1544117649758" width="500" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
		<% end %>
	</div>

	<div class="col-md-4">
		<h3> Office Address - AU </h3>
			<p> Church Street, Wollongong, NSW 2500 </p>
			<p> <%= number_to_phone(431539382, country_code: 61, pattern: /(\d{3})(\d{3})(\d{3})$/) %> </p>

		<h3> Email </h3>
			<p> <a href="mailto:hello@mradi.co.ke?subject=New+Aussie+Lead+from+Portfolio+Site" "Say Hello"> hello@mradi.co.au </a> </p>
	</div>
	
</div>
