<main role="main" class="inner cover">
    <h1 class="cover-heading">Hi <%= current_user.first_name %></h1>
    <p class="lead">Find me in app/views/pages/home.html.erb</p>
    
    <h2>Blog Posts</h2>
		<%= @posts.inspect %>

	<h2>Skills</h2>
		<%= @skills.inspect %>
    <p class="lead">
    	<%= link_to 'All about Mradi', about_us_path, class: 'btn btn-lg btn-secondary' %>
    </p>
</main>


